<div class="container">
    <!--MENU PRINCIPAL-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <!--BARRA DE NAVEGACION-->
        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">NG-BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['./inicio']">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categori</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-righ">
                <li class="nav-item active">
                    <a class="nav-link " [routerLink]="['./login']">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " [routerLink]="['./registro']">Registro</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-righ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Crear entrada</a>
                        <a class="dropdown-item" href="#">Crear categoria</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Perfil</a>
                        <a class="dropdown-item" [routerLink]="['./ajustes']">Ajuste</a>
                        <a class="dropdown-item" href="#">Salir</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <!--CONTENIDO-->
    <router-outlet>

    </router-outlet>

</div>